.achivement-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 30px;
  justify-content: center;
  margin: 40px auto 0px;
  border: 2px solid black;
  max-width: 1200px;
  position: relative;
}

.achivement-wrapper:first-child {
  margin-top: 40px;
}

.achivement-wrapper a {
  display: flex;
  justify-content: center;
}

.certificate {
  width: 80%;
  z-index: 2;
}

.achivement-wrapper h1 {
  font-family: 'Titillium Web';
}

.achivement-wrapper p {
  font-size: 23px;
  line-height: 30px;
  margin: 0;
  width: 80%;
  text-align: center;
  font-family: 'Titillium Web';
}
