body {
  display: block;
  background: url(../../assets/images/background.jpg);
}

.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  border-bottom: 2px solid black;
}

.logo {
  width: 200px;
  border-radius: 50%;
  border: 5px solid rgba(66, 124, 124, 0.4);
  margin-right: 15px;
}

.for_my_photo_media {
  display: none;
}

.description-title, .description-text {
  font-family: 'Titillium Web';
}

.header-title-container h1 {
  margin-bottom: 0px;
}

.header-title-container h2 {
  margin: 0 0 10px;
}

.header-title {
  font-family: 'Titillium Web';
}

.contacts {
  display: flex;
  height: 55px;
  align-items: center;
}

.contacts a {
  margin-right: 10px;
  color: #011c26;

}

.contacts a i:hover  {
  animation-name: pulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  color: #003cff;
}
@keyframes pulse {
  0% {
    transform: scaleX(1) scaleY(1);
  }
  10% {
    transform: scaleX(0.85) scaleY(0.85);
  }
  20% {
    transform: scaleX(1) scaleY(1);
  }
  30% {
    transform: scaleX(0.85) scaleY(0.85);
  }
  40% {
    transform: scaleX(1) scaleY(1);
  }
  50% {
    transform: scaleX(0.85) scaleY(0.85);
  }
  60% {
    transform: scaleX(1) scaleY(1);
  }
  70% {
    transform: scaleX(0.85) scaleY(0.85);
  }
  80% {
    transform: scaleX(1) scaleY(1);
  }
  90% {
    transform: scaleX(0.85) scaleY(0.85);
  }
  100% {
    transform: scaleX(1) scaleY(1);
  }
}
