body {
  margin: 0;
}

.main-page {
  display: block;
  background: url(../../assets/images/background.jpg);
}

.hiden-page {
  display: none;
}

.visible-block {
  display: block;
}

.invisible {
  opacity: 0;
}

.visible {
  opacity: 1;
}
