body {
  display: block;
  background: url(../../assets/images/background.jpg);
  margin: 0;
}

.white-background {
  height: 100vh;
  background-color: white;
}

.main-page {
  display: block;
}

.hiden-main-page {
  display: none;
}
