footer {
  position: relative;
  text-align: center;
  border-top: 1px solid black;
  padding: 25px 60px;
  margin: 1px auto;
  color: #fff;
  background-color: #011c26;
}

.footer-container {
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.footer-text {
  font-family: 'Titillium Web';
}

@media (max-width: 1200px) {
  .footer-container {
    flex-direction: column;
    max-width: 586px;
  }
  
  .year {
    margin-bottom: 20px;
  }
}
